// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"
#include "sunxi-d1s-t113-mangopi-mq-r.dtsi"

/ {
	model = "Raft Endpoint Neon VA";
	compatible = "widora,mangopi-mq-r-t113", "allwinner,sun8i-t113s";

	aliases {
                serial0 = &uart0;
	};

        chosen {
               stdout-path = "serial0:115200n8";
        };
};

&rgmii_pe_pins {
        pins = "PE0", "PE1", "PE2", "PE3", "PE4",
	"PE5", "PE6", "PE7", "PE8", "PE9", "PE10",
	"PE11", "PE12", "PE13", "PE14", "PE15";
	function = "emac";
};

&pio {
        rgmii_pg_pins: rgmii-pg-pins {
	        pins = "PG0", "PG1", "PG2", "PG3", "PG4",
	        "PG5", "PG6", "PG7", "PG8", "PG9", "PG10",
	        "PG11", "PG12", "PG13", "PG14", "PG15";
	        function = "emac";
        };
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&mmc0 {
      /delete-property/ cd-gpios;
};

&can0 {
       pinctrl-names = "default";
       pinctrl-0 = <&can0_pins>;
       status = "okay";
};

&can1 {
       pinctrl-names = "default";
       pinctrl-0 = <&can1_pins>;
       status = "okay";
};

&emac {
        compatible = "allwinner,sun50i-h6-emac";
        pinctrl-0 = <&rgmii_pg_pins>;
        pinctrl-names = "default";
	clocks = <&ccu CLK_BUS_EMAC>, <&ccu CLK_EMAC_25M>;
	clock-names = "stmmaceth", "pclk";
        phy-mode = "rgmii-rxid";
        phy-handle = <&phy0>;
        allwinner,tx-delay-ps = <300>;
        allwinner,rx-delay-ps = <500>;
        status = "okay";
};

&mdio {
        phy0: ethernet-phy@0 {
                reg=<0>;
                motorcomm,clk-out-frequency-hz = <125000000>;
                motorcomm,auto-sleep-disabled;
                motorcomm,keep-pll-enabled;
                rx-internal-delay-ps = <1900>;
        };
};

&mmc1 {
        status = "disable";
};

&wifi_pwrseq {
        status = "disable";
};

&ehci1 {
        status = "disable";
};

&ohci1 {
        status = "disable";
};

&usb_otg {
        status = "disable";
};
